.blog{
    width: 100%;
    padding-left: 18%;
    padding-right: 18%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y:auto 
}
.blogTitle{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-text-primary);
}
.blogContainer{
    width: 100%;
    height: auto;
    padding:0.8rem;
    padding-inline:1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.39);
    background-color: var(--object-color);
}
.article{
    color: var(--color-text-primary);
}
.articleDate{
    text-align: right;
    margin-top: 1rem;
    color: var(--color-text-primary);
}
.blogCard{
    display: flex;
    flex-direction: row;
    width: 92%;
    height: 120px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left:1rem;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.39);
    background-color: var(--object-color);
    margin-top :1rem;
    color: var(--color-text-primary);
}

.blogInfo{
    width: 65%;
    margin-right: 3%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: var(--color-text-primary);
}
.rowOne{
    display: flex;
    height: 80px;
    flex-direction: column;
    overflow: hidden;
}
.rowTwo{
    display: flex;
    height: 20px;
}
.blogImageCont{
    border-radius: 15px;
    position: relative;
    width: 30%;
    height: 90px;
    overflow: hidden;
}
.blogName{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom:0.2rem
}
.blogDesc{
    font-size: 0.9rem;
}
.blogDate{
    font-size: 0.9rem;
}
 
@media only screen and (max-width: 600px) {
    .blogCard{
        min-height:140px
    }
}