@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
	width: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
 
/*Define CSS variables based on tailwind's dark/light mode and use in global css*/
@layer base {
  :root {
    --bg-color-primary: #F5F5FB;
  }
  :root[class~="dark"] {
    --bg-color-primary: #1C2029;
  
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color-primary);
  transition: background 0.25s ease-in-out;
}
h1 {
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}
