.home{
    height: 90vh;
    display: flex;
    flex-direction: column; 
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top : 6rem;
    color: var(--color-text-primary);
    
}