.siteLayout{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.siteContent{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.navbar{
    display: flex;
    width: 100%;
    height: 3.8rem;
    justify-content: space-between;
    align-items: center;  

}

.navItems{
  display: flex;
  width : 50%; 
  justify-content: space-around;
}

.navbarItem{
  color: white;
}

.button{
  background: transparent;
  border : 1px solid white;
  border-radius : 5px;
  height: 2.5rem;
  width: 6rem;
  color: white;
  font-weight: 400;
  font-size:1rem;
  cursor: pointer;
}
.button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

 