.reach{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    color: var(--color-text-primary);
    overflow-y:auto 
}
.reach::-webkit-scrollbar {
    display: none;
  }
.reach {
    -ms-overflow-style: none; 
    scrollbar-width: none;   
}
.reachPoint{
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
}
.reachContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
 
 
@media only screen and (max-width: 600px) {
    .reach{
        padding-left: 0%;
        padding-right: 0%;
    }
}